@font-face {
    font-family: 'passion-one';
    src: url('fonts/PassionOne-Bold.ttf') format('opentype')
}

@font-face {
    font-family: 'Sriracha';
    src: url('fonts/GoogleFonts-Sriracha-Regular.ttf') format('opentype');
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    text-align: center;
    color: white;
}

header > h1{
    font-size: min(146px, 10vw);
    padding-top: 50px;
    font-family: 'passion-one';
    font-variant: small-caps;
}

header > p{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

header > p > a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header > p > a:hover{
    text-decoration: underline;
}

main > p{
    white-space: pre-line; 
}

.sriracha{
    font-size: 50px;
    font-family: 'Sriracha';
    padding-top: 72px;
    margin-left: 30px;
    line-height: 100.8px;
}

.imagem{
    background-image: url('imagens/background001.jpg');
    margin-top: 182px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.texto-background{
    display: inline-block;
    margin: 10px 0px 70px 0px;
    background-color: rgba(0, 0, 0, 0.514);
    width: 600px;
    color: white;
    
}

.imagem2{
    background-image: url('imagens/background002.jpg');
    margin-top: 182px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 150px;
}

footer > p{
    font-size: 20px;
    padding: 10px;
}

footer > p > strong > a{
    color: white;
    text-decoration: none;
}

footer > p > strong > a:hover{
    color: white;
    text-decoration: underline;
}

